.statistics {
 text-align: center;
}

.completed {
    text-decoration: line-through;
    color: #999;
  }
  
  .text-muted {
    color: #999;
  }
  
  .todo-list {
    list-style-type: none;
    padding: 0;
  }

  .filter-container {
    display: flex;
    align-items: center;
    justify-content: 'center' ;
    flex-direction: column;
    gap: 2rem;
    
  }

  .not-found-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #f8f8f8;
    color: #333;
    font-family: 'Arial', sans-serif;
  }
  
  .not-found-title {
    font-size: 10rem;
    margin: 0;
  }
  
  .not-found-message {
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  
  .not-found-link {
    display: inline-block;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    color: #fff;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .not-found-link:hover {
    background-color: #0056b3;
  }
  
 