.statistics {
 text-align: center;
}

.completed {
    text-decoration: line-through;
    color: #999;
  }
  
  .text-muted {
    color: #999;
  }
  
  .todo-list {
    list-style-type: none;
    padding: 0;
  }

  .filter-container {
    display: flex;
    align-items: center;
    justify-content: 'center' ;
    flex-direction: column;
    gap: 2rem;
    
  }
  
 